

{{template "admin/menu.html"}}

<div class="row  border-bottom white-bg dashboard-header">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>添加问题</h5>
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal" action="/problem/add">
                    <div class="form-group"><label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="title"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Time limit</label>
                        <div class="col-sm-10"><input type="text" class="form-control" value="1" name="time">
                        </div>
                    </div>


                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">Memory limit</label>

                        <div class="col-sm-10"><input type="text" class="form-control" name="memory" value="128"></div>
                    </div>


                    <div class="hr-line-dashed"></div>


                    <div class="form-group"><label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10"><textarea class="editor" placeholder="" autofocus name="desc"></textarea></div>
                    </div>


                    <div class="form-group"><label class="col-sm-2 control-label">Input</label>
                        <div class="col-sm-10"><textarea class="editor" placeholder="" autofocus name="input"></textarea></div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Output</label>
                        <div class="col-sm-10"><textarea class="editor" placeholder="" autofocus name="output"></textarea></div>
                    </div>


                    <div class="form-group"><label class="col-sm-2 control-label">Sample Input</label>
                        <div class="col-sm-10"><textarea class="" placeholder="" rows="10" cols="60" name="sampleinput"></textarea></div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Sample Output</label>
                        <div class="col-sm-10"><textarea class="" placeholder=""  rows="10" cols="60" name="sampleoutput"></textarea></div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Test Input</label>
                        <div class="col-sm-10"><textarea class="" placeholder=""  rows="10" cols="60" name="testinput"></textarea></div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Test Output</label>
                        <div class="col-sm-10"><textarea class="" placeholder=""  rows="10" cols="60" name="testoutput"></textarea></div>
                    </div>


                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white" type="submit">Cancel</button>
                            <button class="btn btn-primary" id="submitpro" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>






</div>








<div class="footer">
    <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2015
    </div>
</div>

</div>


</div>

<!-- Mainly scripts -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugins/simditor/module.js"></script>
<script type="text/javascript" src="/js/plugins/simditor/hotkeys.js"></script>
<script type="text/javascript" src="/js/plugins/simditor/uploader.js"></script>
<script type="text/javascript" src="/js/plugins/simditor/simditor.js"></script>
<script type="text/javascript" src="/js/plugins/layer/layer.js"></script>


<script>
    $(document).ready(function() {
        var editor = new Simditor({
            textarea: $('.editor')
            //optional options
        });


        var ajaxSubmit = function(url, params, callback){
            $.post(url, params, function(res){
                if (res.code){
                    alert(res.msg);
                    return false;
                }
                layer.msg('保存成功');

            }, 'json');
        };


        $('#submitpro').on('click', function(){
            var _this = $(this);
            var _form = _this.parents('form');
            ajaxSubmit(_form.attr('action'), _form.serialize(), function(s){
                if (s.errno){
                    layer.msg(s.error);
                }
                layer.msg('保存成功');
            });

        });
    });
</script>


<script type="application/json">

</script>

</body>
</html>
