

{{template "admin/menu.html" .}}

<div class="row  border-bottom white-bg dashboard-header">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>导出数据</h5>
            </div>
            <form class="ibox-content">
                {{ .xsrfdata }}
                <div class="form-horizontal" id="form-data">
                    <div class="form-group"><label class="col-sm-2 control-label">from</label>
                        <div class="col-sm-3"><input type="number" class="form-control data-pro" name="from"></div>
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label">to</label>
                        <div class="col-sm-3"><input type="number" class="form-control data-pro" name="to"></div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="button" id="submitper">导出</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>导入数据</h5>
            </div>
            <form class="ibox-content">
                {{ .xsrfdata }}
                <div class="form-horizontal" id="form-data">
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <button type="button" class="layui-btn layui-btn-primary" id="upload_file">上传题目数据</button>
                    </div>
                </div>
            </form>

            <table class="table table-hover table-data">
                <thead>
                <tr>
                    <th>题目ID</th>
                    <th>题目标题</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>



{{template "common/footer.html"}}


<!-- Mainly scripts -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-markdown/bootstrap-markdown.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-markdown/markdown.js"></script>
<script type="text/javascript" src="/js/plugins/layer/layer.js"></script>
<script src="/js/plugins/select2/select2.full.min.js"></script>
<script type="text/javascript" src="/js/plugins/layui/layui.js"></script>


<script>
    $(document).ready(function() {
        $('#select-per').select2();
        $('#submitper').on('click', function(){
            var _this = $(this);
            var _form = _this.parents('form');
            $.post("/problem/export", _form.serialize(),function(res){
                if(res.code){
                    layer.msg(res.msg);
                }
                if(res.code === 0) {
                    location.href=res.data.downurl;
                }
            }, 'json');

        });


        layui.use('upload', function(){
            var upload = layui.upload;

            upload.render({ //允许上传的文件后缀
                elem: '#upload_file'
                ,url: '/problem/inport'
                ,accept: 'file' //普通文件
                ,exts: 'zip' //只允许上传压缩文件
                ,done: function(res){
                    layer.msg(res.msg,function(){
                        var els = '';
                        var table = $('.table-data');
                        for (i = 0; i < res.data.length; i ++) {
                            els += '<tr> <td>'+res.data[i].pid+'</td><td>'+res.data[i].title+'</td></tr>';
                        }
                        table.find('tbody').html(els);
                    });
                }
            });
        });
    });



</script>




</body>
</html>
