

{{template "admin/menu.html" .}}

<div class="row  border-bottom white-bg dashboard-header">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>批量生成用户</h5>
            </div>
            <form class="ibox-content">
                <div class="form-horizontal" id="form-data">
                    <div class="form-group"><label class="col-sm-2 control-label">前缀</label>
                        <div class="col-sm-3"><input type="text" class="form-control data-pro" name="prefix"></div>
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label">数量</label>
                        <div class="col-sm-3"><input type="number" class="form-control data-pro" name="num"></div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="button" id="submitper">生成</button>
                        </div>
                    </div>
                </div>
            </form>

            <table class="table table-hover table-data">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>



{{template "common/footer.html"}}


<!-- Mainly scripts -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-markdown/bootstrap-markdown.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-markdown/markdown.js"></script>
<script type="text/javascript" src="/js/plugins/layer/layer.js"></script>
<script src="/js/plugins/select2/select2.full.min.js"></script>


<script>
    $(document).ready(function() {
        $('#select-per').select2();
        $('#submitper').on('click', function(){
            var _this = $(this);
            var _form = _this.parents('form');
            $.post("/admin/user/generate", _form.serialize(),function(res){
                if(res.code){
                    layer.msg(res.msg);
                }
                if(res.code === 0) {
                    layer.msg(res.msg,function(){
                        var els = '';
                        var table = $('.table-data');
                        for (i = 0; i < res.data.length; i ++) {
                            els += '<tr> <td>'+res.data[i].uname+'</td><td>'+res.data[i].pwd+'</td></tr>';
                        }
                        table.find('tbody').html(els);
                    });

                }
            }, 'json');

        });
    });



</script>




</body>
</html>
