

        {{template "admin/menu.html" .}}

        <div class="row  border-bottom white-bg dashboard-header">

            <div class="col-sm-3">
                <h2>欢迎来到HGOJ</h2>
            </div>
            <div class="col-sm-10">
                <div class="statistic-box">
                    <h4>
                        服务器运行情况
                    </h4>
                    <div class="row text-center">
                        <div class="col-lg-6">
                            <canvas id="memChart" width="100" height="100"></canvas>
                            <h5 >内存</h5>
                        </div>
                    </div>
                    <div class="m-t">
                        <small>更多信息请联系管理员</small>
                    </div>

                </div>
            </div>

        </div>








{{template "common/footer.html"}}

<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="js/plugins/flot/jquery.flot.js"></script>
<script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="js/plugins/flot/jquery.flot.spline.js"></script>
<script src="js/plugins/flot/jquery.flot.resize.js"></script>
<script src="js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="js/plugins/peity/jquery.peity.min.js"></script>
<script src="js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- GITTER -->
<script src="js/plugins/gritter/jquery.gritter.min.js"></script>

<!-- Sparkline -->
<script src="js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="js/plugins/chartJs/Chart.min.js"></script>

<!-- Toastr -->
<script src="js/plugins/toastr/toastr.min.js"></script>


<script>
    $(document).ready(function() {
        setTimeout(function() {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 4000
            };
            toastr.success('{{.User.Nick}}', 'Welcome to HGOJ');

        }, 1300);


        var memData = [
            {
                value: {{.memused}},
                color: "#a3e1d4",
                highlight: "#1ab394",
                label: "used"
            },
            {
                value: {{.memfree}},
                color: "#dedede",
                highlight: "#1ab394",
                label: "free"
            },
        ];

        var memOptions = {
            segmentShowStroke: true,
            segmentStrokeColor: "#fff",
            segmentStrokeWidth: 2,
            percentageInnerCutout: 45, // This is 0 for Pie charts
            animationSteps: 100,
            animationEasing: "easeOutBounce",
            animateRotate: true,
            animateScale: false
        };

        var ctx = document.getElementById("memChart").getContext("2d");
        var MemChart = new Chart(ctx).Doughnut(memData, memOptions);



    });
</script>
</body>
</html>
