

{{template "admin/menu.html" .}}

<div class="row  border-bottom white-bg dashboard-header">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>问题列表</h5>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>题目编号</th>
                            <th>标题 </th>
                            <th>AC数 </th>
                            <th>时间 </th>
                            <th>状态 </th>
                            <th>删除</th>
                            <th>编辑</th>
                            <th>数据</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{range .PROS}}
                                <tr>
                                    <td>{{.ProblemId}}</td>
                                    <td><a href="/problem/{{.ProblemId}}">{{.Title}}</a></td>

                                    <td>{{.Accepted}}</td>

                                    <td>{{.InDate}}</td>

                                    {{if eq .Defunct "N"}}
                                    <td><button type="button" class="btn btn-sm btn-success pro-status" data-proid="{{.ProblemId}}">可使用</button></td>
                                    {{else}}
                                        <td><button type="button" class="btn btn-sm btn-danger pro-status" data-proid="{{.ProblemId}}">不可使用</button></td>
                                    {{end}}
                                    <td><button type="button" class="btn btn-sm btn-danger del" data-proid="{{.ProblemId}}">del</button></td>
                                    <td><button type="button" class="btn btn-sm btn-info edit" data-proid="{{.ProblemId}}">edit</button></td>
                                    <td><button type="button" class="btn btn-sm btn-info edit-data" data-proid="{{.ProblemId}}">data</button></td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>

                {{if .isPage}}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="/problem/list/{{.pagePrev}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{range .pageRange}}
                                <li><a href="/problem/list/{{.}}">{{.}}</a></li>
                            {{end}}
                            <li>
                                <a href="/problem/list/{{.pageNext}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                {{end}}
            </div>
        </div>
    </div>

</div>




{{template "common/footer.html"}}


<!-- Mainly scripts -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugins/layer/layer.js"></script>


<script>
    $(document).ready(function() {

        //del
        $('.del').on('click', function(){
            var _this = $(this);
            var proid = _this.attr('data-proid');
            var data = {
                proid: proid
            };

                layer.confirm('确定要删除题目？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    $.post("/problem/del", data, function (res) {
                        // alert(_form.serialise());
                        if (res.code) {
                            layer.msg(res.msg);
                        }

                        if (res.code === 0) {
                            layer.msg('删除成功');
                            setTimeout("location.reload()",1000);

                        }
                    }, 'json');
                }, function () {

                });


        });

        //del
        $('.edit').on('click', function(){
            var _this = $(this);
            var proid = _this.attr('data-proid');
            window.location.href="/problem/edit/"+proid;
        });

        $('.edit-data').on('click',function(){
            var _this = $(this);
            var proid = _this.attr('data-proid');
            layer.open({
                type: 2,
                area: ['850px', '550px'],
                fixed: false, //不固定
                maxmin: true,
                content: '/problem/editdata/'+proid
            });
        })

        $('.pro-status').on('click',function(){
            var _this = $(this);
            var proid = _this.attr('data-proid');
            var data = {
                proid: proid
            };
            $.post("/problem/updatestatus", data, function (res) {
                // alert(_form.serialise());
                if (res.code) {
                    layer.msg(res.msg);
                }

                if (res.code === 0) {
                    layer.msg('更改状态成功');
                    setTimeout("location.reload()",1000);

                }
            }, 'json');
        })
    });



</script>




</body>
</html>
