

{{template "admin/menu.html" .}}

<div class="row  border-bottom white-bg dashboard-header">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>重判题目</h5>
            </div>
            <form class="ibox-content">
                {{ .xsrfdata }}
                <div class="form-horizontal" id="form-data">
                    <div class="form-group"><label class="col-sm-2 control-label">题目ID</label>
                        <div class="col-sm-3"><input type="text" class="form-control" name="rjpid"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary submitper" type="button">提交</button>
                        </div>
                    </div>
                </div>
            </form>
            <form class="ibox-content">
                {{ .xsrfdata }}
                <div class="form-horizontal" id="form-data">
                    <div class="form-group"><label class="col-sm-2 control-label">竞赛ID</label>
                        <div class="col-sm-3"><input type="text" class="form-control" name="rjcid"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary submitper" type="button">提交</button>
                        </div>
                    </div>
                </div>
            </form>
            <form class="ibox-content">
                {{ .xsrfdata }}
                <div class="form-horizontal" id="form-data">
                    <div class="form-group"><label class="col-sm-2 control-label">提交ID</label>
                        <div class="col-sm-3"><input type="text" class="form-control" name="rjsid"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary submitper" type="button">提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>



{{template "common/footer.html"}}


<!-- Mainly scripts -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-markdown/bootstrap-markdown.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-markdown/markdown.js"></script>
<script type="text/javascript" src="/js/plugins/layer/layer.js"></script>
<script src="/js/plugins/select2/select2.full.min.js"></script>


<script>
    $(document).ready(function() {
        $('#select-per').select2();
        $('.submitper').on('click', function(){
            var _this = $(this);
            var _form = _this.parents('form');
            $.post("/admin/rejudge", _form.serialize(),function(res){
                // alert(_form.serialise());
                if(res.code){
                    layer.msg(res.msg);
                }
                if(res.code === 0) {
                    layer.msg(res.msg);
                    setTimeout(function(){
                        window.location.href=res.action;
                    },1000);
                }
            }, 'json');

        });
    });



</script>




</body>
</html>
