

{{template "admin/menu.html" .}}

<div class="row  border-bottom white-bg dashboard-header">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>问题列表</h5>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>#</th>
                            <th>用户 </th>
                            <th>昵称 </th>
                            <th>提交 </th>
                            <th>正确 </th>
                            <th>正确率 </th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .user}}
                            <tr>
                                <td>{{.UserId}}</td>
                                <td><a href="/profile/{{.UserId}}">{{.UserName}}</a></td>
                                <td>{{.Nick}}</td>
                                <td>{{.Submit}}</td>
                                <td>{{.Solved}}</td>
                                <td><span class="pie">{{.Solved}}/{{.Submit}}</span></td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>

                {{if .isPage}}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="/user/list/{{.pagePrev}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{range .pageRange}}
                                <li><a href="/user/list/{{.}}">{{.}}</a></li>
                            {{end}}
                            <li>
                                <a href="/user/list/{{.pageNext}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                {{end}}
            </div>
        </div>
    </div>

</div>




{{template "common/footer.html"}}


<!-- Mainly scripts -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugins/layer/layer.js"></script>


<script>
    $(document).ready(function() {

        //del
        $('.del').on('click', function(){
            var _this = $(this);
            var proid = _this.attr('data-proid');
            var data = {
                proid: proid
            };
            $.post("/problem/del", data,function(res){
                // alert(_form.serialise());
                if(res.code){
                    layer.msg(res.msg);
                }

                if(res.code === 0) {
                    // layer.msg(res.msg);
                    alert(res.msg);
                    window.location.href="/problem/list";
                }
            }, 'json');
        });

        //del
        $('.edit').on('click', function(){
            var _this = $(this);
            var proid = _this.attr('data-proid');
            window.location.href="/problem/edit/"+proid;
        });
    });



</script>




</body>
</html>
