<style type="text/css">
  @import url("//unpkg.com/element-ui@2.15.3/lib/theme-chalk/index.css");
  @import url("//unpkg.com/element-ui@2.15.3/lib/theme-chalk/index.css");
</style>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.15.3/lib/index.js"></script>
<div id="drawer">
  <el-radio-group v-model="direction">
  </el-radio-group>

  <el-button @click="drawer = true" type="" style="margin-left: 12px;">
    <img height="30" width="30"  src="https://6465-dev-2gzxo1d2dc39c5e3-1305581356.tcb.qcloud.la/ACMOJ/hnit-acm-logo-embe.png?sign=05e23c3a8f679c08e272f3cca3a49f4f&t=1625539785" >
  </el-button>

  <el-drawer
          :visible.sync="drawer"
          :direction="direction"
          :before-close="handleClose">
    <div id="app">
      <div class="block">
        <el-timeline>
          <el-timeline-item timestamp="2018/4/12" placement="top">
            <el-card>
              <h4>更新 Github 模板</h4>
              <p>王小虎 提交于 2018/4/12 20:46</p>
            </el-card>
          </el-timeline-item>
          <el-timeline-item timestamp="2018/4/3" placement="top">
            <el-card>
              <h4>更新 Github 模板</h4>
              <p>王小虎 提交于 2018/4/3 20:46</p>
            </el-card>
          </el-timeline-item>
          <el-timeline-item timestamp="2018/4/2" placement="top">
            <el-card>
              <h4>更新 Github 模板</h4>
              <p>王小虎 提交于 2018/4/2 20:46</p>
            </el-card>
          </el-timeline-item>
          <el-timeline-item timestamp="2018/4/2" placement="top">
            <el-card>
              <h4>更新 Github 模板</h4>
              <p>王小虎 提交于 2018/4/2 20:46</p>
            </el-card>
          </el-timeline-item>
          <el-timeline-item timestamp="2018/4/2" placement="top">
            <el-card>
              <h4>更新 Github 模板</h4>
              <p>王小虎 提交于 2018/4/2 20:46</p>
            </el-card>
          </el-timeline-item>
        </el-timeline>
      </div>
    </div>
  </el-drawer>
</div>
<script type="text/javascript">
  var Main = {
    data() {
      return {
        drawer: false,
        direction: 'ltr',
      };
    },

  };
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#drawer')
  new Vue().$mount('#app')
</script>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.15.3/lib/index.js"></script>